# RTU 通道 1 = SOCK/TCP。host/port 改成你的服务器。
# 测试站 http://tcp.doiot.cn/ 刷新页面端口会变，要同步改 tcp_port。
[lua]
print_route=1
log_route=1

[task]
channel_down_en=1
channel_update_en=1

[task.1]
task_id=1
en=1

[sock.1]
enable=1
protocol=0
host=tcp.doiot.cn
port=26429
tcp_host=tcp.doiot.cn
tcp_port=26429
